/* ----------------- Class CSS ----------------- */

@import url('https://fonts.googleapis.com/css2?family=Average&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&family=Lobster&display=swap');

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:#496940;
}

.authors, 
.overview{
    background-color: rgb(191, 216, 189);
}

.table{
    background-color: rgb(191, 216, 189);
    border: 0.1em solid rgb(255,255,255);
    padding: 0.4em;
    word-break:break-word;
}

.table-layout-fixed{
    table-layout:fixed;
}

.table-numbers{
    background-color:rgba(255, 255,255,40%);
    width:7.5%;
}

.body {
    background-color: rgb(109, 105, 105);
}

.footer,
.nb-background-color{
    background-color: #496940;
}

.table-header-bg{
    background-color: #496940;
    color: #FFFFFF;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    color:rgb(191, 216, 189);
    font-family: Average, serif;
    margin-left: 1em;
    margin-right: 1em;
}


.ovPadLeft{
    padding-left: 2em;
}

.ovPadRight{  
    padding-right: 2em;
}

.procedure, 
.references{
    background-color: #82bfa2ff; 
    padding: 0.1em;
}

.showcase{
    background-color: #82bfa2ff; 
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

.average-font{
    font-family: Average, serif
}

.cool-font{
    font-family: 'Dancing Script', serif;
}

.graft-image{
    border: 0.3em solid rgb(255,255,255);
    border-radius: 15px;
}

.pink-header{
    color: #a64d79;
}

.text-green{
    color:#496940;
}

.text-white{
    color: #ffffff;
}

.img-margin{
    margin-left: 50px;
}

.annotation{
    margin-right: 2em;
    color:#496940;
    font-family: Average, serif;
}

.img-size-med{
    width: 60%;
    height: auto;
}

.img-size-sm{
    width:40%;
    height:auto;
}

.img-size-smaller{
    width:40%;
    height:auto; 
}

.img-centered-left{
    width: 120%;
    height: auto;
    border: 0.3em solid rgb(255,255,255);
    border-radius: 30px;
    margin-left: 2em;
    margin-top: 2em;
}

.img-centered-right{
    width: 80%;
    height: auto;
    border: 0.3em solid rgb(255,255,255);
    border-radius: 30px;
    margin-right: 1em;
    margin-top: 2em;
}

.nav-size{
    width:65px;
    height:auto;
    border: 3px solid rgb(255,255,255);
    border-radius:100px;
}

#chart-wrapper{
    margin: auto;
    padding: 10px;
    /* If nesting a chart's container within another container, remove the 
       height and width values.  The outer container will control the dimensions */ 
    height: 40vh; 
    width:  80vw;
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}