/* ----------------- Class CSS ----------------- */

@import url('https://fonts.googleapis.com/css2?family=Average&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&family=Lobster&display=swap');

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:#496940;
}

.authors, 
.overview {
    background-color: rgb(191, 216, 189);
}

.table{
    background-color: rgb(191, 216, 189);
    border: 0.1em solid rgb(255,255,255);
}

.body {
    background-color: rgb(109, 105, 105);
}


.footer,
.nb-background-color{
    background-color: #496940;
}

.table-header-bg{
    background-color: #496940;
    color: #FFFFFF;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    color:rgb(191, 216, 189);
    font-family: Average, serif;
    margin-left: 10px;
    margin-right: 10px;
}


.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #82bfa2ff; 
    padding: 1px;
}

.showcase{
    background-color: #82bfa2ff; 
}


/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

.text-white{
    color: #ffffff;
}

.average-font{
    font-family: Average, serif
}

.cool-font{
    font-family: 'Dancing Script', serif;
}

.graft-image{
    border: 0.3em solid rgb(255,255,255);
    border-radius: 15px;
}

.pink-header{
    color: #a64d79;
}

.text-green{
    color:#496940;
}

.img-margin{
    margin-left: 50px;
}